
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}

.homeContentContainer {
  height: 100vh;
}

.homeSkillsContainer {
  width: 100vw;
  height: 100vh;
}

.homeContactContainer { // Size of contact section
  display: flex;
  align-items: center;
  justify-content: center;

  // Centre component
  padding-top: 64px;
  padding-bottom: 128px;
  background-color: #343f4c;
}

.homeContentSkillsSpacing {
  height: 40vh;
  border: 1px solid black;
}

.homeSkillsContactSpacing {
  height: 40vh;
  border: 1px solid black;
}

.homeWorksContactSpacing {
  height: 40vh;
  border: 1px solid black;
}

.homeWorksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}