
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}

.contentContainer {
  height: 100vh;
}

.skillsContainer {
  width: 100vw;
  height: 100vh;
}

.contactContainer { // Size of contact section
  display: flex;
  align-items: center;
  justify-content: center;

  // Centre component
  padding-top: 64px;
  padding-bottom: 128px;
  background-color: #343f4c;
}

.contentSkillsSpacing {
  height: 40vh;
  border: 1px solid black;
}

.mainSkillsContactSpacing {
  height: 40vh;
  border: 1px solid black;
}