.submitButton {
  font-family: "Krub", sans-serif;
  font-size: 14px;
  font-weight: 600;
  right: 12px;
  bottom: 12px;
  padding: 12px 24px 12px 24px;
  cursor: pointer;
  color: #f7f7f8;
  border: none;
  border-radius: 6px;
  background-color: #ef6767;
}


