.bubbleTitle, .bubbleContent
  color: #f7f7f8

ul
  list-style-type: none
  padding: 0
  margin: 0

li
  margin-bottom: 16px

.bubbleTitle
  font-family: "Source Sans 3", sans-serif
  font-size: 16px
  font-weight: normal

.bubbleContent
  font-family: Krub, sans-serif
  font-weight: 600
  font-size: 20px

.bubbleContainer
  width: max-content
  background-color: #d04949
  display: flex
  flex-direction: column
  gap: 24px
  padding: 32px 24px 32px 24px
  border-radius: 32px
  align-self: flex-start

.bubblesContainer
  display: flex
  gap: 96px
  justify-content: center
  flex-basis: 100% // Flex container is as tall as parent in <App> allows
