.titleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name {
  font-family: "Source Sans 3", sans-serif;
  font-size: 120px;
  font-weight: normal;
}

.description {
  font-family: "Krub", sans-serif;
  font-size: 48px;
  font-weight: normal;
}