.box
  padding: 192px 128px 192px 128px
  width: 60vw
  height: 30vh
  background-color: #D04949
  display: flex
  justify-content: center
  align-items: center
  border-radius: 16px

.contentContainer
  display: flex
  flex-direction: column
  gap: 24px

h1, h2
  color: #f7f7f8
  padding: 0
  margin: 0

h1
  font-family: "Source Sans 3", sans-serif
  font-weight: normal
  font-size: 48px

h2
  font-family: "Krub", sans-serif
  font-weight: normal
  font-size: 24px