.gallery {
  display: flex;
  overflow: hidden;
  align-items: center;

  // Fixed aperture of Gallery through which a GalleryFrame is seen
  justify-content: center;
  width: clamp(1280px, 1280px, 1280px);
  background-color: black;

  aspect-ratio: 16/9;

}

.galleryContainer {
  display: flex;
  gap: 16px; // Space between buttons and GalleryFrame
}

.button {
  align-self: center;
  margin: 0;
  padding: 0;

  // Remove natural padding on button
  border: none;
  background: none;
}