/* Alignment of all header links */
.headerRoot {
  display: flex;
  justify-content: end;
  gap: 5em;
  padding: 20px 50px 20px 20px;
}

.container {
  position: relative; /* Provide relative parent for absolute child */
  display: flex;
}

a,
a:visited {
  text-decoration: none;
  color: #020100;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  padding: 9px 13px 8px 13px;
  z-index: 1;

  /* Transition properties */
  color: #020100;
}

.background {
  background-color: #ff715b;
  border-radius: 7px;
  z-index: 0; /* Background sits behind link */

  /* Transition properties */
  height: 0;
  width: 0;
  opacity: 0;
}

/* TRANSITION DECLARATIONS */

/* Transition for text in <a> */
a:hover {
  transition: all 0.3s ease-out;

  /* Transition properties */
  color: #fdfffc;
}

/* Transition for background of <a> */
a:hover + .background {
  transition: all 0.1s ease-out;

  /* Transition properties */
  height: 100%;
  width: 100%;
  opacity: 1;
}

/* END OF TRANSITION DECLARATIONS */

.absoluteCentre {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
