.galleryFrameContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 500px;
  min-height: 500px;
  border: 1px solid red;
  background-color: gray;
}

#one {
  flex-shrink: 0;
  background-color: red;
}

#two {
  background-color: green;
}

#three {
  background-color: blue;
}